@model IEnumerable<RideOn.Models.Car>

@{
    ViewData["Title"] = "Booking";
}

<h2 class="my-4">Booking</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        @foreach (var car in Model)
        {
            <div class="col">
                <div class="card-sl" style="margin-top: 50px;">
                    <div class="card-image">
                        <img src="@car.Image" alt="">
                    </div>

                    <a class="card-action" href="#"><i class="ri-heart-3-fill"></i></a>
                    <div class="card-heading">
                        @car.Make @car.Model
                    </div>
                    <div class="card-text">
                        <i class="ri-check-fill"></i>
                        incl. unlimited km
                    </div>
                    <div class="card-text">
                        <span class="card-text">$ @car.DailyRate /day</span>
                    </div>

                    <div class="card-btn">
                        <a href="#" class="card-button">Book Now!</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


