@model IEnumerable<RideOn.Models.Car>

@{
    ViewData["Title"] = "Booking";
}
<div class="booking-info" id="selected-data-dropdown">
    <div class="booking-form">
        <div class="row">
            <div class="column">
                <span id="pickup-location-display">
                    pickup-location
                </span>
                <span>
                    |
                </span>
                <span id="dropoff-location-display">
                    dropoff-location
                </span>
                <span id="pickup-date-display">
                    pickup-date
                </span>
                <span id="pickup-time-display">
                    pickup-time
                </span>
                <span>
                    -
                </span>
                <span id="return-date-display">
                    dropoff-date
                </span>
                <span id="return-time-display">
                    dropoff-time
                </span>
                <i class="ri-arrow-down-s-line"></i>
                <i class="ri-arrow-up-s-line hidden"></i>
            </div>
        </div>
    </div>
</div>



<div class="booking hidden">
    <div class="form-group">
        <label for="pickup-location">Pick-up Location</label>
        <select class="form-control" id="pickup-location" placeholder="Select City or Airport">
            <option value="-Select City or Airport-">-Select City or Airport-</option>
            <option value="Stockholm">Stockholm</option>
            <option value="Gothenburg">Gothenburg</option>
            <option value="Malmö">Malmö</option>
            <option value="Stockholm Arlanda Airport">Stockholm Arlanda Airport</option>
            <option value="Gothenburg Landvetter Airport">Gothenburg Landvetter Airport</option>
        </select>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="dropoff-location">Drop-off Location</label>
            <select class="form-control" id="dropoff-location" placeholder="Select City or Airport">
                <option value="-Select City or Airport-">-Select City or Airport-</option>
                <option value="Stockholmn">Stockholmn</option>
                <option value="Gothenburg">Gothenburg</option>
                <option value="Malmö">Malmö</option>
                <option value="Stockholm Arlanda Airport">Stockholm Arlanda Airport</option>
                <option value="Gothenburg Landvetter Airport">Gothenburg Landvetter Airport</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="pickup-date">Pick-up Date</label>
                <input type="date" class="form-control" id="pickup-date">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="pickup-time">Time</label>
                <input type="time" class="form-control" id="pickup-time">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="return-date">Return Date</label>
                <input type="date" class="form-control" id="return-date">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="return-time">Time</label>
                <input type="time" class="form-control" id="return-time">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <a class="btn btn-primary btn-block" id="book-now-btn">Book Now!</a>
            </div>
        </div>
    </div>
</div>

<h2 class="my-4">Select a car</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        @foreach (var car in Model)
        {
            <div class="col">
                <div class="card-sl" style="margin-top: 50px;">
                    <div class="card-image">
                        <img src="@car.Image" alt="">
                    </div>

                    <a class="card-action" href="#"><i class="ri-heart-3-fill"></i></a>
                    <div class="card-heading">
                        @car.Make @car.Model
                    </div>
                    <div class="card-text">
                        <i class="ri-check-fill"></i>
                        incl. unlimited km
                    </div>
                    <div class="card-text">
                       $ <span class="card-price">@car.DailyRate</span>
                    </div>
                    <div class="card-text">
                        Total amount: $<span class="total-amount">0.00</span>
                    </div>

                    <div class="card-btn">
                        <a asp-action="ReviewAndBook" class="card-button">Book Now!</a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>



