@model Booking

@{
    ViewData["Title"] = "Cancel";
}


<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
                <div class="card" style="border-radius: 10px;">

                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0" style="color: #011544; font-size:2.5rem;">Cancel Booking</p>
                            <p class="small text-muted mb-0">Booking Voucher : @Model.Id</p>
                        </div>
                        <h3>Are you sure you want to cancel this Booking Nr: @Model.Id</h3>
                        <form asp-action="Cancel" id="cancelForm">
                            <input type="hidden" asp-for="Id" />
                            <a asp-action="Index" class="btn btn-outline-dark">No</a>
                            <input type="submit" value="Cancelled" class="btn btn-outline-danger" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
