html {
    font-size: 80%;
}


@media (min-width: 768px) {
  html {
    font-size: 80%;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@800&display=swap');



/* Nav bar Styles */

.navbar-nav .nav-item .nav-link {
    color: #fff;
    position: relative;
    font-size: 1.5rem;
}

.navbar-nav .dropdown-menu .nav-item .nav-link{
    color: black;
}

.navbar-nav .dropdown-menu .nav-item .btn {
    padding:4px;
    margin-left:-1rem;
}


.navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-brand:hover {
    color: #fe6e19;
}


/* new nav Styles */






/* Home page Styles */

/* Carousel indicators */

#myCarousel .carousel-indicators li {
    background-color: #6D6EA9;
}

#myCarousel .carousel-indicators li.active {
    background-color: #011544;
}

.carousel-item h5 {
    font-size: 2rem;
}


.carousel-item p {
    font-size: 1.5rem;
}



.container .bg-image .text-center {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 10rem;
}

.container .booking {
    color: #fff;
    background-color: #011544;
    margin-top: 1rem;
    padding: 2rem 2rem;
    border-radius: 1rem 7rem;
    font-size: 1.5rem;
}

.container .booking.hidden {
    display: none;
}


.container .booking .form-group {
    margin: .5rem;
}



.container .booking .form-group label {
    font-size: 1.5rem;
}



.input-validation-error {
    animation: shake 0.3s ease-in-out;
    border: 1px solid #ff0000
}

@keyframes input-validation-error {
    0% {
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}




.container .service-wrap {
    color: #011544;
    background-color: #fff;
    padding: 4rem 1rem;
    margin-top: 2rem;
    margin-right: 3rem;
    font-size: 1.8rem;
}

.container .service-wrap .services-info .text h3 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2rem;
}

.subtitle {
    text-align: center;
    margin-bottom: 2rem;
}

.centered-image {
    display: block;
    margin: 0 auto;
    max-width: 80px;
}

.car {
    background: #fff;
    margin-top: 6rem;
}

.car .titlepage {
    text-align: center;
    margin-bottom: 1.5rem;
}

.car .titlepage h2 {
    color: #011544;
}

.car .titlepage span {
    color: #23262d;
    font-size: 17px;
    line-height: 28px;
}

.padding_leri {
    padding-right: 0;
    padding-left: 0;
}

.car_box {
    text-align: center;
}

.car_box figure {
    margin: 0;
}

.car_box figure img {
    width: 100%;
}

.car_box h3 {
    color: #011544;
    background-color: #f6d601;
    font-size: 30px;
    line-height: 28px;
    height: 84px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 0;
}




.top_cars {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.top_cars .row .col-md-12 h2 {
    color: #011544;
    font-size: 4rem;
}


.divider {
    border: 1px solid #011544;
}



.titlepage {
    text-align: center;
    color: #011544;
}

img {
    width: 60%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 100%;
}

.card-img {
    height: 200px;
}

.card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-block {
    width: 100%;
    background-color: #f6d601;
    color: #011544;
    padding: 1rem;
    border-radius: 1rem 1rem;
}

.btn-block:hover {
    background-color: #011544;
}




.card {
    border: none;
}

.user-content p {
    margin-top: 5px;
    font-size: 12px;
}


.ratings i {
    color: blue;
}







/* Booking page Styles */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.popup {
    width: 40rem;
    position: relative;
    padding: 20px;
    border-radius: 5px;
}

.close-button {
    position: absolute;
    top: 3rem;
    right: 5rem;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

.close-button:hover {
    color: red;
}

.popup.hidden {
    display: none;
}

.booking-form {
    background-color: #f6d601;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.booking-info .discription {
    font-size: 2rem;
}

.subtitle span {
    color: #011544;
    font-size: 1.5rem;
    text-align: center;
}

.ri-arrow-down-s-line,
.ri-arrow-up-s-line {
    font-size: 5rem;
}


.ri-arrow-down-s-line.hidden,
.ri-arrow-up-s-line.hidden {
    display: none;
}

.pickup-location,
.pickup-date,
.pickup-date-popup,
.pickup-date-update,
.pickup-time,
.pickup-time-popup,
.pickup-time-update,
.return-date,
.return-date-popup,
.return-date-update,
.return-time,
.return-time-popup,
.return-time-update {
    padding: 10px 20px;
    font-size: 1.5rem;
}

span:not(:last-child) {
    margin-right: 5px;
    margin-left: 5px;
}


body {
    font-family: Varela Round;
    background: #f1f1f1;
}

a {
    text-decoration: none;
}

/* Card Styles */

.card-sl {
    height: 28rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
    position: relative;
}

.card-sl:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transform: scale(1.05);
    z-index: 1;
}

.card-image {
    height: 10rem;
    border-radius: 8px 8px 0px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-image img {
    height: 10rem;
    width: 25rem;
    object-fit: cover;
}

.card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 10;
    color: #E26D5C;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
    color: #fff;
    background: #E26D5C;
    -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
    font-size: 1rem;
    font-weight: bold;
    background: #fff;
    padding: 1px 15px;
}

.card-text {
    padding: 20px 15px;
    background: #fff;
    font-size: 1rem;
    color: #636262;
}

.card-text span {
    font-size: 1.5rem;
    color: #636262;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}


.card-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #1F487E;
    color: #fff;
    border-radius: 0 0 8px 8px;
    text-align: center;
    padding: 1rem;
    background-color: #011544;
    font-weight: 600;
}


.card-button:hover {
    text-decoration: none;
    background-color: #1D3461;
    color: #fff;
}


@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }

    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}




@media screen and (min-width:777px) {
    .nav-link {
        padding: 18px 0;
        min-width: 120px;
    }

    .navbar {
        padding: 0
    }
}





/*         ReviewAndBook       */


.ReviewAndBook .container {
    margin: 20px auto;
    max-width: 200rem;
    max-height: 200rem;
    background-color: white;
    padding: 0;
}


p {
    margin: 1rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.text-muted {
    font-size: 1.5rem;
}

.textmuted {
    color: #011544;
    font-size: 1.5rem;
}

.fs-14 {
    font-size: 14px;
}

.btn.btn-payment {
    width: 100%;
    height: 55px;
    border-radius: 0;
    background-color: black;
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
}



.fw-900 {
    font-weight: 900;
}

::placeholder {
    font-size: 12px;
}

.ps-30 {
    padding-left: 30px;
}

.h4 {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 800 !important;
}

.textmuted,
h5,
.text-muted {
    font-family: 'Poppins', sans-serif;
}





.footer .footer-info span,
.footer .footer-info a{
    font-size: 2rem;
}




.footer {
    background-color: #011544;
    color: #fff;
    margin-top: auto;
    padding: 15px;
}

/*login*/
.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }
}


/*Register*/

.cascading-right {
    margin-right: -50px;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}