
/* Home page Styles */
.home .container-fluid {
    /*width: 100vw;*/
    height: 50%;
    position: absolute;
    top: 27%;
    left: 50%;
    background-image: url('https://www.motortrend.com/uploads/2022/04/BMW-i7-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-right: 0px;
    padding-left: 0px;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.home .content {
    display: flex;
    flex-direction: column;
}

.home .content .row .col-lg-8 .text .text-center {
    margin-top:10rem;
    margin-bottom: 3rem;
}

.home .content .row .col-lg-8 .text .text-center h1{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}
.home .content .row .col-lg-8 .text .text-center p {
    color: #fff;
    font-size: 2rem;
}

.home .container {
    width: 30rem;
    background: #ff6f1a;
    font-size: 1.5rem;
    color: #191919;
    padding: 3rem;
    border-radius: 1.5rem 1.5rem;
    float: left;
    margin-bottom: 10rem;
}



.home .container .form-group .btn {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1F487E;
    color: #fff;
    border-radius: 8px 8px;
    margin-top: 2rem;
}

.home .container .form-group .btn:hover {
    text-decoration: none;
    background-color: #1D3461;
    color: #fff;
}






/* Booking page Styles */
body {
    font-family: Varela Round;
    background: #f1f1f1;
}

a {
    text-decoration: none;
}

/* Card Styles */

.card-sl {
    height: 24rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
    height: 10rem;
    width:15rem;
    border-radius: 8px 8px 0px 0;
}

.card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #E26D5C;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
    color: #fff;
    background: #E26D5C;
    -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
    font-size: 1.2rem;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
}

.card-text {
    padding: 20px 15px;
    background: #fff;
    font-size: 1rem;
    color: #636262;
}

.card-text span {
    font-size: 1.5rem;
    color: #636262;
}



.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1F487E;
    color: #fff;
    border-radius: 0 0 8px 8px;
}

.card-button:hover {
    text-decoration: none;
    background-color: #1D3461;
    color: #fff;
}


@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }

    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}




@media screen and (min-width:777px) {
    .nav-link {
        padding: 18px 0;
        min-width: 120px;
    }

    .navbar {
        padding: 0
    }
}