@{
    ViewData["Title"] = "About Us";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Assuming you have a shared layout file
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="text-center mb-4">@ViewData["Title"]</h1>

            <div class="card" style="font-size:1.5rem;">
                <div class="card-body">
                    <h2>Our Company</h2>
                    <p>
                        Welcome to RideMe - car rental service! We are dedicated to providing top-quality vehicles and exceptional customer service to ensure your travel experience is comfortable and enjoyable.
                    </p>

                    <h2>Our Mission</h2>
                    <p>
                        Our mission is to provide affordable and reliable car rental solutions to our customers. 
                        We strive to exceed your expectations by offering a wide selection of vehicles, flexible rental options, and excellent customer support.
                    </p>

                    <h2>Why Choose Us?</h2>
                    <ul>
                        <li>
                            <strong>Wide Selection:</strong> We offer a diverse fleet of vehicles to cater to your specific needs, from compact cars to spacious SUVs.
                        </li>
                        <li>
                            <strong>Flexible Rental Options:</strong> Whether you need a vehicle for a day, a week, or even longer, we have flexible rental options to accommodate your schedule.
                        </li>
                        <li>
                            <strong>Exceptional Customer Service:</strong> Our dedicated team is committed to providing personalized assistance and ensuring a smooth rental experience from start to finish.
                        </li>
                        <li>
                            <strong>Competitive Pricing:</strong> We offer competitive rates and transparent pricing with no hidden fees, so you can budget your travel expenses with confidence.
                        </li>
                        <li>
                            <strong>Convenience:</strong> Our online reservation system allows you to book your vehicle easily and conveniently, saving you time and effort.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
