@using Microsoft.AspNetCore.Identity
@using RideMe.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        var user = await UserManager.GetUserAsync(User);
        var FirstName = user.FirstName;
        <li class="nav-item me-3 me-lg-0 dropdown">


            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                Hello! @FirstName 
                <img src="~/images/profile-user.png" class="rounded-circle" height="22"
                     alt="" loading="lazy" style="width: 2rem;" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" >
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Cars" asp-action="Index">Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Booking" asp-action="Index">Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> Profile</a>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link ">Logout</button>
                    </form>
                </li>
            </ul>
        </li>

}
else
{
        <li class="nav-item me-3 me-lg-0 dropdown">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                <img src="~/images/profile-user.png" class="rounded-circle" height="22"
                     alt="" loading="lazy" style="width: 2rem;" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                
                <li class="nav-item">
                    <a class="nav-link " asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
            </ul>
        </li>
}
</ul>
